.main__route {
  padding-top: 20px;
  padding-bottom: 80px;
}

.route__map {
  width: 100%;
  height: 360px;
}


@media screen and (min-height: 650px) {
  .route__map {
    width: 100%;
    height: 420px;
  }
}
