body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  transition: background-color 0.3s cubic-bezier(0.18, 1.03, 0.5, 1);
  position: relative;
}

body.modal-open {
  overflow: hidden;
}

ul {
  list-style: none;
}

button {
  appearance: none;
  border: 0;
  outline: none;
}

button,
ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--black);
  transition: color 0.1s ease-out;
}

a:hover {
  color: var(--primary);
}

a::before {
  transition: background-color 0.1s ease-out;
}

input {
  border: 0;
  outline: none;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}

.shadow {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 9;
  background-color: var(--black);
  transition: opacity 0.3s cubic-bezier(0.18, 1.03, 0.5, 1);
}

.shadow.active {
  visibility: visible;
  opacity: 0.5;
}

.main {
  display: block;
}

.with--icon::before {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--black);
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 8px;
  margin-top: 4px;
}

.call-number::before {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask: url("../images/icons/icon-call.svg") no-repeat 100% 100%;
  mask: url("../images/icons/icon-call.svg") no-repeat 100% 100%;
}

.call-number:hover::before {
  background-color: var(--primary);
}

.icon-address--light::before {
  background-color: var(--secondary);
}

.icon-address::before {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask: url("../images/icons/icon-address.svg") no-repeat 100% 100%;
  mask: url("../images/icons/icon-address.svg") no-repeat 100% 100%;
}

.icon-email--light::before {
  background-color: var(--secondary);
}

.icon-email::before {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask: url("../images/icons/icon-email.svg") no-repeat 100% 100%;
  mask: url("../images/icons/icon-email.svg") no-repeat 100% 100%;
}

.icon-instagram--light::before {
  background-color: var(--secondary);
}

.icon-instagram::before {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask: url("../images/icons/icon-instagram.svg") no-repeat 100% 100%;
  mask: url("../images/icons/icon-instagram.svg") no-repeat 100% 100%;
}

.call-button {
  padding: 8px 16px;
  color: var(--white);
  background-color: var(--secondary);
  border-radius: 24px;
  transition: background-color 0.15s linear;
  font-family: "IBM Plex Sans", sans-serif;
}

.call-button:hover {
  background-color: var(--black);
  color: var(--white);
}

/* Media */

@media (min-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
